
//font & typographi
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

$font-poppins: 'Poppins', sans-serif;

// Colors

$textColor : #000;
$bgcolor : rgb(235, 233, 233);
$whiteColor : #fff;


